<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gallery</title>

    <!-- Lato Font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel='stylesheet' href='./stylesheets/style.css' />
     <link rel='stylesheet' href='./stylesheets/aboutstyle.css' />
  </head>
  <body>    
  <nav>
    <div class="nav-wrapper">
      <div class="brand-logo center"><img src="images/logo2.png" /></div>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" id="menuButton">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a class="navLink" href="/portfolio">Portfolio</a></li>
        <li><a class="navLink" href="/contact">Contact</a></li>
        <li><a class="navLink" href="/about">About</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
      
      </ul>
    </div>
  </nav>
  <div class="parallax-container">
    <div class="parallax aboutPara"><img src="images/parallax4.jpg"></div>
         <div class="row">
            <div class="container">
               
            
      <div class="col s12 m3 l3 "><img id="me" src="images/me.png"></div>
        <div class="col s12 m8 l8">
                    <div class="card-panel green darken-4">
                     <h3>Hi, I'm Lou</h3>
                     <span class="white-text">I am a young, driven Front-End Developer with a passion for developing creative products. While Front-End Development is my bread and butter, I also love to design, build full stack applications, and get my hands into pretty much anything involved in the development life-cycle. When I am not obsessing over my code, you can usually find me with my face in a book, listening to a podcast, or drinking coffee (and if it's night time, a beer).
                     </span>
                    </div>
        </div>
        </div>
  </div>
  <div class="container">
         <div class="card-panel green darken-4" id="caro">
         <h3 class="center">Tech I Love</h3>
                  <div class="carousel">
                    <a class="carousel-item" href="#one!"><img src="images/html.jpg"></a>
                    <a class="carousel-item" href="#two!"><img src="images/CSS.png"></a>
                    <a class="carousel-item" href="#three!"><img src="images/js.png"></a>
                    <a class="carousel-item" href="#four!"><img src="images/node.png"></a>
                    <a class="carousel-item" href="#five!"><img src="images/jquery.png"></a>
                    <a class="carousel-item" href="#six!"><img src="images/express.png"></a>
                    <a class="carousel-item" href="#seven!"><img src="images/angular.png"></a>
                    <a class="carousel-item" href="#eight!"><img src="images/react.png"></a>
                    <a class="carousel-item" href="#nine!"><img src="images/sass.png"></a>
                    <a class="carousel-item" href="#ten!"><img src="images/materializecss.png"></a>
                    <a class="carousel-item" href="#eleven!"><img src="images/photo.jpg"></a>
                    <a class="carousel-item" href="#twelve!"><img src="images/illus.png"></a>
                    <a class="carousel-item" href="#thirteen!"><img src="images/git.png"></a>
                </div>
        </div>
 </div>
</div>

  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>

    <script type="text/javascript" src="/javascripts/aboutscript.js"></script>

  </html>