<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Space+Mono" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
  <!-- NAV BAR -->
  <nav>
    <div class="nav-wrapper">
      <div class="brand-logo center"><img src="images/logo2.png" /></div>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" id="menuButton">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a class="navLink" href="/portfolio">Portfolio</a></li>
        <li><a class="navLink" href="/contact">Contact</a></li>
        <li><a class="navLink" href="/about">About</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>
<!-- END NAV BAR  -->
<div class="parallax-container">
    <div class="parallax"><img src="images/parallax1.jpg"></div>
    <img class="paraLogo" src="images/logo3.png">
  </div>
  <div class="section">
    <div class="row container">
      <p class="grey-text text-darken-3 lighten-3"><div class="row" id="snippets">
        <div class="col s12 m4">
          <img class = "aboutPics" src="images/iconOne.png">
          <h3>Innovative
          <p>I strive to create products that are immediately intuitive for the user, built on clear, legible code that my fellow developers can easily understand. </p>
       </div>
       <div class="col s12 m4">
          <img class = "aboutPics" src="images/iconTwo.png">
          <h3>Creative</h3>
          <p>I combine my technical knowledge with a creative approach, seeking development solutions that are efficient, elegant and user-friendly. </p>
       </div>
       <div class="col s12 m4">
           <img class = "aboutPics" src="images/iconThree.png">
           <h3>User-Focused</h3>
            <p>My job is to build your website so that it is functional and user-friendly but at the same time attractive. My aim is to bring across your message and identity in the most creative way.</p>
       </div>
       </div>
         <div class="row buttonRow">
            <a class="waves-effect waves-light btn-large">See My Work</a>
        </div>
  </div>
      
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="images/parallax2.jpg"></div>
  </div>

          

    
  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="/javascripts/script.js"></script>
</html>
