<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gallery</title>

    <!-- Lato Font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <!-- Stylesheet -->
    <link href="stylesheets/gallery-dark-materialize.min.css" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel='stylesheet' href='./stylesheets/style.css' />
      <link rel='stylesheet' href='./stylesheets/portStyle.css' />
  </head>

  <body>

    <!-- Navbar and Header -->
    <nav class="nav-extended nav-full-header z-depth-0">
      <div class="nav-background">
        <img class="active" id="portBack" src="images/parallax3.jpg" alt="control room">
      </div>
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo center"><img src="images/logo2.png"></a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        </div>
      <div class="nav-header valign-wrapper">
        <div class="center">
          <h1>My Work</h1>
          <div class="tagline">Check It Out</div>
        </div>
      </div>

      <!-- Fixed Masonry Filters -->
      <div class="categories-wrapper">
        <div class="categories-container">
          <ul class="categories container">
            <li class="active"><a href="#all">All</a></li>
            <li><a href="#business">Business</a></li>
            <li><a href="#app">Applications</a></li>
            <li><a href="#game">Games</a></li>
          </ul>
        </div>
      </div>
    </nav>
        <ul class="side-nav" id="nav-mobile">
      <li><a href="/"><i class="material-icons">camera</i>Home</a></li>
      <li><a href="/about"><i class="material-icons">brightness_3</i>About</a></li>
      <li><a href="/contact"><i class="material-icons">edit</i>Contact</a></li>
    </ul>
    <!-- Gallery -->
    <div id="portfolio" class="section gray">
      <div class="gallery row">
        <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter app">
          <div class="gallery-curve-wrapper">
            <a class="gallery-cover gray">
              <img class="responsive-img" src="images/one.jpg">
            </a>
            <div class="gallery-body">
              <div class="title-wrapper">
                <h3>DrumKit</h3>
                 <a class="btn waves-effect waves-light"  href="https://drumkitlr.herokuapp.com/" target="_blank">Check It Out!<i class="material-icons right">open_in_browser</i></a>
              
                 <a class="btn waves-effect waves-light" href="https://github.com/LouRitter/drumKit" target="_blank">Github Repo<i class="material-icons right">code</i></a>
              </div>
              <p class="description">A electronic drum kit built with jQuery, HTML, and CSS. All design and development was done by me. Available to use on both desktop and mobile devices. You can control the kit by both keystrokes and click</p>


              <div class="carousel-wrapper">
                  <div class="carousel">
                    <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                  </div>
                </div>
            </div>
 
          </div>
        </div>
        <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter app">
          <div class="gallery-curve-wrapper">
            <a class="gallery-cover gray">
              <img src="./images/six.jpg">
            </a>
            <div class="gallery-body">
              <div class="title-wrapper">
                <h3>Trip2</h3>
                 <a class="btn waves-effect waves-light" href="http://www.angryjenkins.com/trip2/" target="_blank">Check It Out!<i class="material-icons right">open_in_browser</i></a>
                 <a class="waves-effect waves-light btn" href="https://github.com/angryjenkins/location_project" target="_blank"><i class="material-icons right">code</i>GitHub Repo</a>
              </div>

              <p class="description">
Trip2 is developed to help you plan your next vacation. Enter any location in the search bar at the top and you will receive the weather for that location, the latest news for that location, and the best attractions. Trip2 is built with Jquery, Node.JS, Express, and Firebase. For weather, the Weather Underground API was accessed. The jumbotron pictures that change upon search request was accessed through the Flickr API. The attractions were gathered by the Googlee Maps API. </p>


              <div class="carousel-wrapper">
                  <div class="carousel">
                    <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                  </div>
                </div>
            </div>

          </div>
        </div>
        <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter game">
          <div class="gallery-curve-wrapper">
            <a class="gallery-cover gray">
              <img class="responsive-img" src="./images/three.jpg">
            </a>
            <div class="gallery-body">
              <div class="title-wrapper">
                <h3>Beer Trivia</h3>
                <a class="btn waves-effect waves-light" href="https://sheltered-savannah-56419.herokuapp.com/" target="_blank">Check It Out!<i class="material-icons right">open_in_browser</i></a>
                 <a class="waves-effect waves-light btn" href="https://github.com/LouRitter/triviaGame" target="_blank"><i class="material-icons right">code</i>GitHub Repo</a>
              </div>
              <p class="description">
One of the more fun projects I have built, Beer Trivia is exactly what the title suggests. The Beer Trivia game was built with HTML, CSS, and jQuery. For the timer function, moment.JS was used. Have fun and Drink up!</p>


              <div class="carousel-wrapper">
                  <div class="carousel">
                    <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                  </div>
                </div>
            </div>

          </div>
        </div>
        <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter app">
          <div class="gallery-curve-wrapper">
            <a class="gallery-cover gray">
              <img src="./images/five.jpg">
            </a>
            <div class="gallery-body">
              <div class="title-wrapper">
                <h3>GIF Search</h3>
                <a class="btn waves-effect waves-light" href="http://vast-bayou-27757.herokuapp.com/" target="_blank">Check It Out!<i class="material-icons right">open_in_browser</i></a>
                 <a class="waves-effect waves-light btn" href="https://github.com/LouRitter/GifAPISearch" target="_blank"><i class="material-icons right">code</i>GitHub Repo</a>
              </div>
              <p class="description">My GIF search app is a simple app in which you can search any subject you like and you get access to the top GIF's for that search query. Built with HTML, CSS, Javascript, and grabs its information from the Giphy API. Just click to start and stop the GIFs.</p>

              <div class="carousel-wrapper">
                  <div class="carousel">
                    <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                  </div>
                </div>
            </div>

          </div>
        </div>
        <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter game">
          <div class="gallery-curve-wrapper">
            <a class="gallery-cover gray">
              <img src="./images/two.jpg">
            </a>
            <div class="gallery-body">
              <div class="title-wrapper">
                <h3>Money Guessing Game</h3>
                <a class="btn waves-effect waves-light" href="https://intense-cove-68809.herokuapp.com/" target="_blank">Check It Out!<i class="material-icons right">open_in_browser</i></a>
                 <a class="waves-effect waves-light btn" href="https://github.com/LouRitter/JQueryCoinGame" target="_blank"><i class="material-icons right">code</i>GitHub Repo</a>
              </div>
              <p class="description">
The Money Guessing Game is a good game to help children get used to the concepts of adding change and dollars to get the correct amount. The object of the game is to add the random dollar amount buttons and the change amount buttons to get the amount listed. Have Fun! </p>


              <div class="carousel-wrapper">
                  <div class="carousel">
                    <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                  </div>
                </div>
            </div>

          </div>
        </div>
        <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter business">
          <div class="gallery-curve-wrapper">
            <a class="gallery-cover gray">
              <img src="./images/seven.jpg">
            </a>
            <div class="gallery-body">
              <div class="title-wrapper">
                <h3>SMC Fence</h3>
                <a class="btn waves-effect waves-light"href= "http://www.smcfence.com/" target="_blank">Check It Out!<i class="material-icons right">open_in_browser</i></a>
              
              </div>
              <p class="description">
My first small business site I built. I was contracted to do this job by a UX Consultancy. It is a common Wordpress site. Built with PHP, Javascript, HTML, CSS</p>

            </div>

          </div>
        </div>
        
    </div><!-- /.container -->


    <!-- Core Javascript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="/javascripts/script.js"></script>
     <script src="javascripts/color-thief.min.js"></script>
     <script src="javascripts/galleryExpand.js"></script>
     <script src="javascripts/init.js"></script>

  </body>
</html>
