body
  font: 14px 'Space Mono', monospace
  background-color: #388e3c

nav
   background-color: #1b5e20 
   height: 100px

#menuButton
  font-size: 36px
  padding: 20px
 
.brand-logo
  img
     height: 90px
     width: 100px
     margin: 5px
     z-index: 1
  ul
   li
    z-index: 20
    postion: relative

.navLink
    font-size: 18px
    height: 100px
    padding-top: 20px
     
a
  color: #00B7FF

.section
  background-color: #388e3c

.aboutPics
      width: auto
      height: 200px 
      opacity: .8

#snippets  
  @media screen and (min-width: 560px) 
        margin-left: 5%
  p
    font-size: 18px
    color: #222
    font-weight: bold
    margin: 7.5%
  text-align: center



